<template>
  <section class="container">
    <div>
      <h1 class="title">
        197
      </h1>
      <h2 class="subtitle">
        Misleading Buttons
      </h2>

      <p>
        created by
        <a href="https://winniehell.de">@winniehell</a>
        for
        <a href="https://www.onehourgamejam.com/?page=jam&jam=197"
          >197th One Hour Game Jam</a
        >
      </p>

      <no-ssr>
        <sound-button
          class="sound-button btn btn-outline-light text-dark"
          :src="['music/loop.ogg', 'music/loop.mp3']"
          :autoplay="true"
          :loop="true"
          playing-text="music: on"
          stopped-text="music: off"
        />
      </no-ssr>

      <b-modal
        hide-footer
        centered
        header-bg-variant="success"
        body-text-variant="success"
        title="You won!"
        id="winModal"
        @show="win"
        @hide="reload"
      >
        So far you have won {{ timesWon }} times and lost {{ timesLost }} times.
      </b-modal>

      <b-modal
        hide-footer
        centered
        header-bg-variant="danger"
        body-text-variant="danger"
        title="You lose!"
        id="loseModal"
        @show="lose"
        @hide="reload"
      >
        So far you have won {{ timesWon }} times and lost {{ timesLost }} times.
      </b-modal>

      <no-ssr>
        <b-row>
          <template v-if="buttons">
            <b-button
              v-for="button in buttons"
              :key="button.key"
              :variant="button.isWin ? 'success' : 'danger'"
              class="m-4"
              v-b-modal="button.isReallyWin ? 'winModal' : 'loseModal'"
              >click me<br />to {{ button.isWin ? "win" : "lose" }}</b-button
            >
          </template>
          <span v-else>Loading…</span>
        </b-row>
      </no-ssr>
    </div>
  </section>
</template>

<script>
import { SoundButton } from 'vue-howler-button'

const addRandomButtons = buttons => {
  for (let index = 0; index < 197; index++) {
    const isWin = Math.random() < 0.5;
    const isReallyWin = Math.random() < (isWin ? 0.3 : 0.6);
    buttons.push({
      key: `${Date.now()}-${index}`,
      isWin,
      isReallyWin
    });
  }
};

export default {
  components: { SoundButton },
  data() {
    if (!process.browser) {
      return {
        buttons: null,
        timesLost: 0,
        timesWon: 0
      };
    }

    const timesLost = parseInt(localStorage.timesLost, 10) || 0;
    const timesWon = parseInt(localStorage.timesWon, 10) || 0;

    return {
      buttons: [],
      timesLost,
      timesWon
    };
  },

  mounted() {
    if (process.browser) {
      addRandomButtons(this.buttons);
    }
  },

  methods: {
    lose() {
      this.buttons = [];
      this.timesLost += 1;
      localStorage.timesLost = this.timesLost;
    },

    reload() {
      addRandomButtons(this.buttons);
    },

    win() {
      this.buttons = [];
      this.timesWon += 1;
      localStorage.timesWon = this.timesWon;
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.sound-button {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1000;
}
</style>
